//@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
/*
@font-face {
  font-family: 'NeutrafaceText-Demi';
  src: url('../fonts/NeutrafaceText-Demi.otf') format("opentype"),
       url('../fonts/NeutrafaceText-Demi.ttf')  format('truetype');
}

@font-face {
  font-family: 'NeutrafaceText-Light';
  src: url('../fonts/NeutrafaceText-Light.otf') format("opentype"),
       url('../fonts/NeutrafaceText-Light.ttf')  format('truetype'); 
}
*/

@import url(http://fonts.googleapis.com/css?family=Sanchez);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);


html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
	//background: darken($paleyellow, 30);
	//color: rgba( $darkblue, .2 );
	font-family: $font-primary;
	font-size: 1.2rem;
	line-height: 160%;
	background:  $gray;
	color: #a6a8ab;
    overflow:hidden;

}

iframe {
    overflow:hidden;
}


#{headings()}{
	font-family: $font-light;
	font-weight: normal;
	color: $white;
}
nav{
	background-color: $white;
	height: 60px;
	padding-top: 16px;
	@media only screen and (max-width: $mdBreak) { padding-top: 18px; }

	.wrapper{
		max-width: 1166px;
		padding: 0px 20px;
		margin: 0 auto;
		@media only screen and (max-width: $lrgBreak) {   max-width: $lrgBreak - 200;  }
	}

	

	ul{
		padding-top: 2px;
		width: 80%;
		float: right;
		margin: 0;
    	padding: 0;

		//border:solid thin red;
		@media only screen and (max-width: $smBreak) {
			    display: none;
			  }
		

		li {
			padding: 0 10px ;
			font-size: 16px;
			cursor: pointer;
			width: auto;
			display: inline;
			font-size: 14px;
			 
			@media only screen and (max-width: $lrgBreak) { font-size: 12px; }
			@media only screen and (max-width: $mdBreak) { padding: 0 2px ; font-size: 12px;  }
			
			@media only screen and (max-width: ($smBreak + 80) ) { 
				padding: 0 2px ; font-size: 12px;  }
			}

			//border:solid thin green;
			a{
    			color: $gray;
				&:hover{
					@include transition(color .5s ease);
					color: $newBlue;
					text-decoration: none;
				}
			}
			
			
	}

	object{
		
		@media only screen and (max-width: $smBreak) {
			    display: block; margin-left: auto; margin-right: auto;
			  }
		@media only screen and (max-width: $mdBreak) { width:100px; }
		
		display: inline;
	

	}

	
}
h1{
	font-size: 1.8em;
	line-height: 2.5em;
	background-color: $primary-color;
	color: $white;
	height:92px;
	text-align: center;
	vertical-align: middle;
	font-family: $font-primary;
	@media only screen and (max-width: $smBreak) {
			    font-size: 1em;
			    line-height: 4em;
			  }
}



h2{ 
	font-family: $font-primary;
	font-size: 2rem; 
	letter-spacing: 1px;
	line-height: 140%;
	text-align: center;
	color: $white; 	
	&.orange{ 
		background-color: $orange ; 
		padding: 8px 0px;
		font-size: 25px;
		letter-spacing: 1px;

	} 
	@media only screen and (max-width: ($smBreak) ) { 
				 font-size: 20px; 
	}
}


h3{
	font-size: 1rem;
	line-height:1rem;
	color: $white;
}

p{
	font-size: 1rem;
	line-height: 1.5rem;
	letter-spacing: 1px;
	color: $white;
	text-align: center;
	font-family: $font-light;
	font-weight: 500;
	@media only screen and (max-width: ($smBreak) ) { 

				 padding: 0px 7%;
				 width: auto;
	}
}
a {
  color: $white;
  text-decoration: none;
  &:hover{
  	color: $white;
  }
}


section{
	min-width: $min-width;  
	position: relative;

		
	& > h1{     
		position: absolute;
			top:0px;
			left:0;
			width: 100vw;
			z-index: 99;
			  letter-spacing: 1px;
		float: left;
			@media only screen and (max-width: ($smBreak) ) { 
				float: none;
				font-size: 20px;
				display: block;
				position: relative !important;
				line-height: 20px;
				padding-top: 35px;
				vertical-align: middle;

			}
			span{
				display: block;
			}
	}	
} 

.small{	font-style: 1rem; 	}

.box{
			border:solid thin $white;
			position: relative;
			@include blockCenter(600px);
			@include round-all-corners(14px);
			padding: 10px;
			margin-bottom: 60px;
			.white{color:$white;}
			em{
				height: 80px;
				width: 80px;
				z-index: 20;
				//@include round-all-corners(40px);
				
				//border: solid 3px white;
				@media only screen and (max-width: $smBreak) {
					display: none !important;
				}
				&.centerIcon{
					
					color:white;
					position: absolute;
					display: block;
					top:-40px;
					left:50%;
					margin-left: -40px;
				}
				&.topLeftIcon{
				
					
					color:white;
					position: absolute;
					display: block;
					top:-40px;
					left:0%;
					margin-left: -40px;
				}
				&.inlineLeftIcon{
					
					
					color:white;
					position: absolute;
					display: block;
					top:-20px;
					left:0%;
					margin-left: -110px;
				}
			}
			
			& > div{
				background-color: $gray3;
				height: 100%;
				width: 100%;
				@include round-all-corners(10px);
				padding: 40px 60px;
				@media only screen and (max-width: $smBreak) {
					padding: 10px 6%;

				}
				strong {
					color: $lightOrange;
				}
				h4{
					position: relative;
					color: $lightOrange;
					font-size: 1.2rem; line-height: 1.4rem;
					small{ font-size: 1rem;}
					margin-bottom: 20px;
					font-family: $font-primary;
				}
				p{
					position: relative;
					text-align: left;
					margin-bottom: 10px;
					font-size: .9rem;
					  line-height: 1.2rem;

					&:last-child{margin-bottom: 0px !important;}
					@media only screen and (max-width: $smBreak) {
					padding: 0px 0px;

					}
				}
				hr {
				  border: 0;
				  border-top: 0px solid #eee;
				  height: 20px;
				  margin: 0px;
				}
				
				.bar{
					width: 100%;
					height: 15px;
					background-color: darken($gray3,10);
					margin-bottom: 20px;
					vertical-align: top;

					& > span{
						vertical-align: top;
						width: 54%;
						height: 100%;
						display: inline-block;
						background-color: $gray;
						
					}
					& > i{
						color: $aqua;
						vertical-align: top;
						padding-left: 10px;
						font-size: .8rem;
						line-height: 1rem;
					}
				}
				
			}
}

article {
	padding: 40px 0px 0px 0px;
	background-color: $gray;
	position: relative;
	@media only screen and (max-width: $smBreak) {
			height:auto !important; 
			width: 100% !important;
			padding: 8% 0px; 
		}
	& > h2 {
		margin-bottom: 20px;
		@media only screen and (max-width: $smBreak) { padding: 20px 20px 0px 20px; }
	}
	& > p{
		@include blockCenter(775px);
		margin-bottom: 20px;
		font-weight: 300;
		@media only screen and (max-width: $smBreak) {
			width: 100% !important;
			font-weight: 500;
		}
	}
	& > *:last-child{
		margin-bottom:60px;
	}
	& > div{
		@media only screen and (max-width: $smBreak) {
			height:auto !important; 
			width: 100% !important;
			
		}

	}

}

#sideNav{
	margin-left: 0px;
	position: fixed;
	z-index: 99;
	color: $white;
	top: 50%;
	left: 0%;
	height: auto;
	width: 250px;
	margin-top: -100px;
	@media only screen and (max-width: ($smBreak) ) { 
			display: none;
	} 
	ul{
		li{
			padding: 0px 0px 0px 20px;

			cursor: default;
			height: auto;
			width: 50px;
			a{
				display: block;
				cursor: default;
				span{
					cursor: pointer;

					display: inline-block;
					@include circle(15px, $gray3);
				}

				strong{
					font-family: $font-light;
					color:transparent;
					height: 18px;
	  				line-height: 18px;
					display: inline-block; 
					font-size: 14px;
					position: absolute;
					margin-left: 10px;
					margin-top: 5px;
					overflow: hidden;
  					cursor: pointer;
  					width: 20px;
				}
			} 

			&.active{
				width: 250px;
				@include transition(width .5s ease);

				@include round-right-corners(10px);
				background-color: #b2b5b7; 
				//@include transition(background-color 1s ease);
				

				span	{
					@include circle(16px, $gray);
					border:solid 2px $white;	
					@include transition(border-color .5s ease);
				}

				strong{
					display: inline-block; 
					color: $white;
					cursor: pointer;
					width: 200px;
					@include transition-delay(5s);
					@include transition(width .5s ease);

				}
			}
			&.active:first-child{
				width: 100px;
				strong{
					width: 50px;
				}
			}
			&.active:nth-child(2){
				strong{}
			}
			&.active:nth-child(3){
				width: 200px;
				strong{
					width: 150px;
				}
			}
			&.active:nth-child(4){
				strong{	}
			}
			&.active:nth-child(5){
				width: 180px;
				strong{
					width: 130px;
				}
			}
			&.active:nth-child(6){
				width: 200px;
				strong{
					width: 150px;
				}
			}


			
		}
	}
	//@include red;
	

}

.grayFiller{
	  height: 60px;
  width: 100%;
  z-index: 50;
  background-color: $gray;
  position: relative;
}

.phoneOnly{

	display: none;
	@media only screen and (max-width: ($smBreak) ) {  display: block; }

}
/*
em{
	svg{

		path:last-child{
			  stroke-dasharray: 0;
		}
		circle{
			transform: scale(1) 
		}
	}
}

.carousel-control svg{
	polyline{  stroke-dasharray: 0; }
}
*/

