$white : white;
$newBlue : #297ab9; //#40599e;
$orange : #f17b37;
$lightOrange: #f49f23;
$blue: #2a3574;
$lightBlue:#405896;
$aqua: #3592ba;
$lightAqua: #9fbdde;
$green: #46b278;
$lightGreen: #9bcd85; 

$gray : #a6a8ab; //active button //background color
$darkGray : #949698;
$gray1: #818285; 
$gray2: #5d6063;
$gray3: #606163; //round buttons //center box
$gray4: #d1d2d4;
$gray5: #9d9d9d;
$black : #5a5a5a;


$primary-color: $newBlue;



$font-primary: Sanchez, serif;
$font-light: Lato, Serif, serif;

$default-border-radius: 20px;


$smBreak : 768px ;
$mdBreak : 992px ;
$lrgBreak : 1200px ;
$min-width: 900px;
